# pyfly
stable-baselines>=2.7.0
tensorflow==1.15
numpy>=1.16
gym==0.12.1
pillow==5.3.0
matplotlib==2.0.2
scipy

# oyster
click==7.0
torch==1.0.1
torchvision==0.2.2
# mujoco-py==1.50
gtimer==1.0.0b5
joblib==0.9.4
python-dateutil==2.6.1

# adlr
jupyter==1.0
jupyter-client==5.2.4
jupyter-core==4.4.0
notebook==5.7.4
ipykernel==5.1.0
ipywidgets==7.4.2
notebook==5.7.4
nbformat==4.4.0
nbconvert==5.4.0
